@page
@model KoiFarmShop.RazorWebApp.Pages.KoiFarms.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>KoiFarm</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KoiFarm.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KoiFarm.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KoiFarm.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KoiFarm.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KoiFarm.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KoiFarm.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KoiFarm.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KoiFarm.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KoiFarm.OwnerId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KoiFarm.OwnerId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KoiFarm.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KoiFarm.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KoiFarm.Website)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KoiFarm.Website)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KoiFarm.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KoiFarm.Image)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KoiFarm.AwardImage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KoiFarm.AwardImage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KoiFarm.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KoiFarm.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.KoiFarm.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
